body, #root {
  height: 100%;
  background-color: #28252b;
  font-size: large;
}

.App {
  text-align: center;
}

.top-bar-box {
  background-color: transparent !important;
  box-shadow: none;
  text-align: left !important;
}

.top-bar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.top-bar-icon {
  margin-right: 10px !important;
  color: #8c7d86 !important;
}

.top-bar-description {
  margin-left: 1em !important;
}

.description-title {
  margin-top: 10% !important;
  color: #b6a8b1;
}

.description {
  color: #8c7d86;
  font-weight: lighter;
  font-size: 1em !important;
  margin-top: 6px !important;
  margin-bottom: 50px !important;
}

.disclaimer {
  color: #8c7d86;
  font-weight: lighter;
  font-size: 0.75em !important;
}

#password-checker {
  margin: 2rem;
  color: #d6cecd !important;
}
#outlined-size-normal {
  color: #d6cecd !important;
  border: #d6cecd !important;
}

/* Default border color */
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none !important;
  color: white !important;
  border-radius: 30px !important;
}

.MuiInputBase-root {
  color: white !important;
  border-radius: 30px !important;
}

.MuiFormLabel-root {
  color: white !important;
  border-radius: 30px !important;
}

/* Border color on hover */
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: none !important;
  color: white !important;
  border-radius: 30px !important;
}

/* Border color when focused */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none !important;
  color: white !important;
  border-radius: 30px !important;
}

.password-checker-box {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px !important; /* Gap between the rows */
}

.password-checker-text-field {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
  background-color: #423B45;
  border-radius: 30px !important;
}

.password-checker-submit {
  border-radius: 30px !important;
  background-color: #5e715f !important;
}

.input-row {
  display: flex;
  gap: 1em !important;
  width: 100%;
  max-width: 50%;
}

@media (max-width: 800px) {
  .input-row {
    max-width: 80% !important;
  }
  .strength-box {
    width: 80% !important;
  }
}

.progress-box, .null-box {
  height: 5px;
}

.strength-box {
  width: 50%;
  display: flex;
  flex-direction: row;
  text-align: center !important;
  align-items: center !important;
}

.strength-header {
  color: white !important;
  font-size: 2rem !important;
}

.strength-rating {
  color: #00c4ff !important;
  border-color: #00c4ff !important;
  margin-left: 20px !important;
  font-size: 1.1rem !important;
}

.disclaimer {
  margin-top: 140px !important;
  margin-bottom: 2% !important;
}

.suggestions {
  background-color: #1e1c20;
  padding: 2% 0 5%;
}

.suggestions-grid {
  text-align: left !important;
  margin-left: 5%;
  margin-right: 5%;
}

.suggestions-title {
  color: #b6a8b1;
  font-size: smaller;
  margin: 2rem !important;
}

.suggestion-card {
  padding: 1.75rem 1.35rem !important;
  min-height: 20rem !important;
  color: #5e715f !important;
  border-radius: 30px !important;
}

.suggestion-card-title {
  font-size: 2rem !important;
}

.suggestion-description {
  font-size: 1.5rem !important;
  margin-top: 1.75rem !important;
}

.divider {
  border-color: #8c7d86 !important;
  margin: 10% 3% 5% !important;
}

.suggestion-card-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestion-card-icon {
  margin-left: 5px;
}
