body, #root {
  height: 100%;
  background-color: #423b45;
  font-size: large;
}

.App {
  text-align: center;
}

#top-bar {
  background-color: transparent;
  box-shadow: none;
  text-align: left;
}

#top-bar-title {
  margin: 1rem 1rem 1rem 2.25rem;
}

#password-checker {
  margin: 2rem;
  color: white !important;
}
#outlined-size-normal {
  color: white !important;
  border: white !important;
}

/* Default border color */
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #b1b1b1 !important;
  color: white !important;
}

.MuiInputBase-root {
  color: white !important;
}

.MuiFormLabel-root {
  color: white !important;
}

/* Border color on hover */
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #b1b1b1 !important;
  color: white !important;
}

/* Border color when focused */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #b1b1b1 !important;
  color: white !important;
}
